{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>USM JMC</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="{% static 'css/cosas.css' %}" type="text/css" rel="stylesheet" >
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark">
        <img src="{% static 'img/BarraColores.png' %}" alt="Barra de Colores">
        <a class="navbar-brand ml-2" href="#">USM JMC</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a class="nav-link" href="#home">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="#projects">Proyectos</a></li>
                {% if user.is_authenticated %}
                    <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">Logout</a></li>
                    {% if user.usuario.is_estudiante %}
                        <li class="nav-item"><a class="nav-link" href="#ingreso-datos">Ingreso de Datos</a></li>
                    {% endif %}
                {% else %}
                    <li class="nav-item"><a class="nav-link" href="#login">Login</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>

    <!-- Home Section -->
    <div id="home" class="full-screen" style="background-image: url('{% static "img/svm.jpg" %}')">
        <div class="text-center text-white">
            <h1>USM JMC</h1>
            <button class="btn btn-primary-custom mt-4" onclick="scrollToSection('projects')">Ver Proyectos</button>        </div>
    </div>

    <!-- Projects Section -->
    <div id="projects" class="section">
        <h2>Proyectos</h2>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Descripción</th>
                    </tr>
                </thead>
                <tbody id="projects-table-body">
                    <!-- Aquí se insertarán los datos por JavaScript -->
                    {% for proyecto in proyectos %}
                        <tr>
                            <td>{{ proyecto.id }}</td>
                            <td>{{ proyecto.nombre }}</td>
                            <td>{{ proyecto.descripcion }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <!-- Botón para actualizar la tabla -->
        <form method="get" action="{% url 'projects' %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary">Actualizar Proyectos</button>
        </form>
    </div>



    <!-- Login Section -->
    {% if not user.is_authenticated %}
    <div id="login" class="section">
        <div class="login-form">
            <h2>Login</h2>
            <form method="post" action="{% url 'login' %}">
                {% csrf_token %}
                <div class="form-group">
                    <label for="id_username">Username</label>
                    <input type="text" name="username" class="form-control" id="id_username" placeholder="Enter username">
                </div>
                <div class="form-group">
                    <label for="id_password">Password</label>
                    <input type="password" name="password" class="form-control" id="id_password" placeholder="Password">
                </div>
                <button type="submit" class="btn btn-primary">Login</button>
            </form>
        </div>
    </div>
    {% endif %}

    <!-- Ingreso de Datos Section -->
    {% if user.is_authenticated and user.usuario.is_estudiante %}
    <div id="ingreso-datos" class="section">
        <div class="ingreso-datos-form">
            <h2>Ingreso de Datos</h2>
            <form method="POST" action="{% url 'ingreso_propuesta' %}">
                {% csrf_token %}
                <input type="text" name="titulo" placeholder="Título" required>
                <textarea name="descripcion" placeholder="Descripción" required></textarea>
                <button type="submit">Enviar</button>
            </form>
        </div>
    </div>
    {% endif %}

    <script>
        function scrollToSection(sectionId) {
            var section = document.getElementById(sectionId);
            section.scrollIntoView({ behavior: 'smooth' });
        }
    </script>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
   
</body>
</html>
