{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Redirección a Página Original</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="{% static 'css/cosas.css' %}" type="text/css" rel="stylesheet">
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark">
        <img src="{% static 'img/BarraColores.png' %}" alt="Barra de Colores">
        <a class="navbar-brand ml-2" href="#">USM JMC</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a class="nav-link" href="{% url 'home' %}">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'projects' %}">Proyectos</a></li>
                {% if user.is_authenticated %}
                    <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">Logout</a></li>
                {% else %}
                    <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Login</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>

    <!-- Redirección Section -->
    <div class="container mt-5">
        <div class="text-center">
            <h2>Redireccionando...</h2>
            <p>Si no eres redirigido automáticamente, <a href="{% static 'pagina.html' %}">haz clic aquí</a>.</p>
        </div>
    </div>

    <script>
        window.onload = function() {
            window.location.href = "{% static 'pagina.html' %}";
        }
    </script>
</body>
</html>
